/* navbar*/
.sidebar {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
 }



*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}



.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #D67657;
    transition: all .5s ease;
    
}

.sidebar header {

    font-size:22px ;
    color:black;
    text-align: center;
    line-height: 70px;
    background: #8EA88A;
    user-select: none;
}

.sidebar ul a {

    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: black;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 2px solid rgba(225,255,255,.1);
    border-bottom: 2px solid white;
    transition: .4s;


}

ul li:hover a{

 padding-left: 50px;


}

.sidebar ul a i{

margin-right: 16px;
}

#check{
    display: none;
}

label #btn, label #cancel{

    position: absolute;
    cursor: pointer;
    border-radius: 3px;


}
label #btn {
     left: 40px;
     top: 25px;
     font-size: 35px;
     color: white;
     padding: 6px 12px;
     transition: all .5s;
     

}
label #cancel {
     z-index: 1111;
     left: -195px;
     top: 25px;
     font-size: medium;
     color:white;
     padding: 4px 9px;
     transition: all .5s ease;

}

#check:checked ~ .sidebar{

    left: 0;
}

#check:checked ~ label #btn{

    left: 250px;
    opacity: 0;
    pointer-events: none;

}

#check:checked ~ label #cancel{

    left: 195px;

}
/* Body */

h1{

    text-align: center;
    
}

h3{
    text-align: center;
    padding-bottom: 300px;
    
}

.headergs1{

    background-color: #8EA88A;
}

.headergs2{

    background-color: #8A9EA8;
}

.headergs3{
    background-color: #D69165;
}

/* Search bar */

* {box-sizing: border-box;}


.overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
    padding-left: 120px;


}

 .overlay input[type=text] {
        padding: 15px;
        font-size: 17px;
        border: none;
        float: left;
        width: 80%;
        background: white;
      }
      
      .overlay input[type=text]:hover {
        background: #f1f1f1;
      }
      
      
      .overlay button {
        float: left;
        width: 20%;
        padding: 15px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
      }
      
      .overlay button:hover {
        background: #bbb;
      }

    /* Layout of grocery stores /*

    body{margin-top:20px;
background:#f1f2f7;
}

/*panel*/
.panel {
    border: none;
    box-shadow: none;
}

.panel-heading {
    border-color:#eff2f7 ;
    font-size: 16px;
    font-weight: 300;
}

.panel-title {
    color: #2A3542;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
}


/*product list*/

.prod-cat li a{
    border-bottom: 1px dashed #d9d9d9;
}

.prod-cat li a {
    color: #3b3b3b;
}

.prod-cat li ul {
    margin-left: 30px;
}

.prod-cat li ul li a{
    border-bottom:none;
}
.prod-cat li ul li a:hover,.prod-cat li ul li a:focus, .prod-cat li ul li.active a , .prod-cat li a:hover,.prod-cat li a:focus, .prod-cat li a.active{
    background: none;
    color: #ff7261;
}

.pro-lab{
    margin-right: 20px;
    font-weight: normal;
}

.pro-sort {
    padding-right: 20px;
    float: left;
}

.pro-page-list {
    margin: 5px 0 0 0;
}

.product-list img{
    width: 100%;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}

.product-list .pro-img-box {
    position: relative;
}


.pro-title {
    color: #5A5A5A;
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
}

.product-list .price {
    color:#fc5959 ;
    font-size: 15px;
}

.pro-img-details {
    margin-left: -15px;
}

.pro-img-details img {
    width: 100%;
}

.pro-d-title {
    font-size: 16px;
    margin-top: 0;
}

.product_meta {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    margin: 15px 0;
}

.product_meta span {
    display: block;
    margin-bottom: 10px;
}
.product_meta a, .pro-price{
    color:#fc5959 ;
}

.pro-price, .amount-old {
    font-size: 18px;
    padding: 0 10px;
}

.amount-old {
    text-decoration: line-through;
}

.quantity {
    width: 120px;
}

.pro-img-list {
    margin: 10px 0 0 -15px;
    width: 100%;
    display: inline-block;
}

.pro-img-list a {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pro-d-head {
    font-size: 18px;
    font-weight: 300;
}